<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModel()">
        Add New
      </button>
    </div>
  </div>
  @if (StudentList.length !== 0) {
  <div class="row mt-5">
    @for (student of StudentList; track $index) {
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6"><span>Name:</span> {{ student.name }}</div>
            <div class="col-6 text-end">
              <span>MobilNo:</span> {{ student.mobileNo }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <p><span>Address: </span> {{ student.address }}</p>
          <p><span>City:</span> {{ student.city }}</p>
          <p></p>
          <p><span>ZipCode:</span> {{ student.pincode }}</p>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-8">
              <p><span>Email:</span> {{ student.email }}</p>
            </div>
            <div class="col-4">
              <button class="btn btm-sm btn-primary" (click)="onEdit(student)">
                Edit
              </button>
              <button class="btn btm-sm btn-danger" (click)="onDelete(student)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="row">
    <div class="col-12 p-4 text-center">
      <p>No Record Found. Create New Record</p>
    </div>
  </div>
  }
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Student</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Name</label>
            <input
              type="text"
              [(ngModel)]="studentObj.name"
              class="form-control"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Mobile No</label>
            <input
              type="text"
              [(ngModel)]="studentObj.mobileNo"
              class="form-control"
              placeholder="Mobile"
            />
          </div>
          <div class="col-6">
            <label for="">Email</label>
            <input
              type="text"
              [(ngModel)]="studentObj.email"
              class="form-control"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="">City</label>
            <input
              type="text"
              [(ngModel)]="studentObj.city"
              class="form-control"
              placeholder="city"
            />
          </div>
          <div class="col-4">
            <label for="">State</label>
            <input
              type="text"
              [(ngModel)]="studentObj.state"
              class="form-control"
              placeholder="State"
            />
          </div>
          <div class="col-4">
            <label for="">Pin Code</label>
            <input
              type="text"
              [(ngModel)]="studentObj.pincode"
              class="form-control"
              placeholder="Pincode"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">Address</label>
            <textarea
              rows="3"
              [(ngModel)]="studentObj.address"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">
          Close
        </button>
        @if (studentObj.id == 0) {
        <button type="button" class="btn btn-primary" (click)="saveStudy()">
          Save Student
        </button>
        } @else {
        <button type="button" class="btn btn-success" (click)="updateStudent()">
          Update Student
        </button>
        }
      </div>
    </div>
  </div>
</div>
